<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<link href="{% static 'css/libraries/bootstrap.min.css' %}" rel="stylesheet" media="screen">
		<link href="{% static 'css/style.css' %}" rel="stylesheet" media="screen">
		<link href="{% static 'css/logreg.css' %}" rel="stylesheet" media="screen">
		<title>
			ER-test - Вход
		</title>
	</head>
	<body class="log_page">
		<div class="log_wrap">
			<div class="log_menu">
				<nav>
					<a href="/login/">Вход</a>
					<a href="/register/" class="active">Регистрация</a>
				</nav>
			</div>
			<div class="log_body">
				<div class="pad">
					{% if not user.is_authenticated %}
						<form id="user_form" method="POST" action="/register/" enctype="multipart/form-data">
							{% csrf_token %}
							<ul class="form_list">
								<li class="form-group">
									<label class="text-muted">Имя пользователя</label>
									{{ user_form.username }}
								</li>
								<li class="form-group">
									<label class="text-muted">Адрес электронной почты</label>
									{{ user_form.email }}
								</li>
								<li class="form-group">
									<label class="text-muted">Пароль</label>
									{{ user_form.password }}
								</li>
								<li class="form-group">
									<label class="text-muted">Повтор пароля</label>
									{{ user_form.repeat_password }}
								</li>								
								<li class="form-group form-avatar">
									<label class="text-muted">Вебсайт</label>
									{{ profile_form.website }}
								</li> 
								<li class="form-group form-avatar">
									<label class="text-muted">Аватар</label>
									{{ profile_form.avatar }}
								</li> 
								{% if result %}
								<li class="form-group">
									<div class="result">{{ result }}</div>
								</li>
								{% endif %}
								</ul>
							<input class="btn btn-primary log_submit" type="submit" value="Зарегистрироваться" />
						</form>
					{% else %}
						<strong>Ты уже вошел, {{ user.username }}!</strong>
					{% endif %}
				</div>
			</div>
		</div>
	</body>
</html>